Repository MITLibraries/timdex-embeddings: changes, and which pre-commit hooks are due for each by the changed paths.
All: black-apply, mypy, ruff-apply

.pre-commit-config.yaml:

default_language_version:
  python: python3.12
repos:
  - repo: local
    hooks:
      - id: black-apply
        name: black-apply
        entry: uv run black
        language: system
        pass_filenames: true
        types: ["python"]
      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        pass_filenames: true
        types: ["python"]
        exclude: "tests/"
      - id: ruff-apply
        name: ruff-apply
        entry: uv run ruff check --fix
        language: system
        pass_filenames: true
        types: ["python"]
      - id: pip-audit
        name: pip-audit
        entry: uv run pip-audit --ignore-vuln GHSA-4xh5-x5gv-qwph
        language: system
        pass_filenames: false

Rename my_app to embeddings
  .aws-architecture
  Dockerfile
  Makefile
  README.md
  embeddings/__init__.py
  embeddings/cli.py
  embeddings/config.py
  my_app/__init__.py
  pyproject.toml
  tests/test_cli.py
  tests/test_config.py
Due: black-apply, mypy, ruff-apply

Docker build use .aws-architecture
  Makefile
Due: none

Additional renamings
  Makefile
  pyproject.toml
  uv.lock
Due: none

Set python 3.12 in Dockerfile
  Dockerfile
Due: none

Add timdex-dataset-api as dependency
  pyproject.toml
  uv.lock
Due: none

Add 'ping' command and rework to use 'main' command group
  embeddings/cli.py
  tests/test_cli.py
Due: black-apply, mypy, ruff-apply

Stub base model class and CLI download-model command
  embeddings/cli.py
  embeddings/models/__init__.py
  embeddings/models/base.py
  embeddings/models/os_neural_sparse_doc_v3_gte.py
  embeddings/models/registry.py
  pyproject.toml
  tests/conftest.py
  tests/test_cli.py
  tests/test_models.py
  uv.lock
Due: black-apply, mypy, ruff-apply

Normalize string formatting and CLI logging
  embeddings/cli.py
  embeddings/models/registry.py
  pyproject.toml
  tests/test_cli.py
Due: black-apply, mypy, ruff-apply

Rework model registration and loading
  README.md
  embeddings/cli.py
  embeddings/models/base.py
  embeddings/models/os_neural_sparse_doc_v3_gte.py
  embeddings/models/registry.py
  pyproject.toml
  tests/conftest.py
  tests/test_cli.py
  uv.lock
Due: black-apply, mypy, ruff-apply

Add MODEL_URI unit tests
  tests/test_models.py
Due: black-apply, ruff-apply

OSNeuralSparseDocV3GTE model download and load
  embeddings/cli.py
  embeddings/models/base.py
  embeddings/models/os_neural_sparse_doc_v3_gte.py
  pyproject.toml
  uv.lock
Due: black-apply, mypy, ruff-apply

Download and configure model on Docker image build
  Dockerfile
  README.md
Due: none

Testing for OSNeuralSparseDocV3GTE download and load
  tests/conftest.py
  tests/test_os_neural_sparse_doc_v3_gte.py
Due: black-apply, ruff-apply

Remove copy/paste Dockerfile comments
  Dockerfile
Due: none

Lean into model_required CLI decorator
  Dockerfile
  README.md
  embeddings/cli.py
  embeddings/models/base.py
  embeddings/models/os_neural_sparse_doc_v3_gte.py
  tests/conftest.py
  tests/test_cli.py
  tests/test_models.py
  tests/test_os_neural_sparse_doc_v3_gte.py
Due: black-apply, mypy, ruff-apply

Stub CLI command methods to create embeddings
  .gitignore
  embeddings/cli.py
  embeddings/config.py
  embeddings/embedding.py
  embeddings/models/base.py
  embeddings/models/os_neural_sparse_doc_v3_gte.py
  pyproject.toml
  tests/conftest.py
  tests/test_cli.py
  tests/test_models.py
  tests/test_os_neural_sparse_doc_v3_gte.py
  uv.lock
Due: black-apply, mypy, ruff-apply

Verbose mode targets desired logging familes
  embeddings/config.py
  tests/test_config.py
Due: black-apply, mypy, ruff-apply

Rename RecordText to EmbeddingInput
  embeddings/cli.py
  embeddings/embedding.py
  embeddings/models/base.py
  embeddings/models/os_neural_sparse_doc_v3_gte.py
  tests/conftest.py
  tests/test_models.py
Due: black-apply, mypy, ruff-apply

Update README
  README.md
Due: none

Store sparse vector and decoded token weights
  embeddings/cli.py
  embeddings/embedding.py
  tests/conftest.py
  tests/test_models.py
Due: black-apply, mypy, ruff-apply

Strategies unit tests
  tests/test_strategies.py
Due: black-apply, ruff-apply

Introduce strategies framework for preparing EmbeddingInputs
  README.md
  embeddings/cli.py
  embeddings/strategies/__init__.py
  embeddings/strategies/base.py
  embeddings/strategies/full_record.py
  embeddings/strategies/processor.py
  embeddings/strategies/registry.py
Due: black-apply, mypy, ruff-apply

Streamline exception messages
  embeddings/strategies/base.py
Due: black-apply, mypy, ruff-apply

Init transformer strategy once for all records
  embeddings/strategies/base.py
  embeddings/strategies/full_record.py
  embeddings/strategies/processor.py
  tests/test_strategies.py
Due: black-apply, mypy, ruff-apply

Update dependencies
  .pre-commit-config.yaml
  Makefile
  pyproject.toml
  uv.lock
Due: none

OSNeuralSparseDocV3GTE embedding business logic
  embeddings/cli.py
  embeddings/embedding.py
  embeddings/models/os_neural_sparse_doc_v3_gte.py
  tests/conftest.py
  tests/test_os_neural_sparse_doc_v3_gte.py
Due: black-apply, mypy, ruff-apply

Update commentary around model document encoding
  embeddings/cli.py
  embeddings/models/base.py
  embeddings/models/os_neural_sparse_doc_v3_gte.py
  tests/conftest.py
  tests/test_models.py
  tests/test_os_neural_sparse_doc_v3_gte.py
Due: black-apply, mypy, ruff-apply

Allow JSONLines files as input for CLI create-embeddings
  embeddings/cli.py
  embeddings/strategies/processor.py
  pyproject.toml
  tests/fixtures/cli_inputs/test-3-records.jsonl
  tests/test_cli.py
  uv.lock
Due: black-apply, mypy, ruff-apply

Fix typo
  embeddings/models/os_neural_sparse_doc_v3_gte.py
Due: black-apply, mypy, ruff-apply

Build/Deploy Automation
  .github/workflows/dev-build.yml
  .github/workflows/prod-deploy.yml
  .github/workflows/stage-build.yml
  .gitignore
  Makefile
Due: none

Update dependencies
  Dockerfile
  Makefile
  pyproject.toml
  uv.lock
Due: none

Switch to sentence-transformers from transformers
  embeddings/models/base.py
  embeddings/models/os_neural_sparse_doc_v3_gte.py
  tests/conftest.py
  tests/fixtures/cli_inputs/test-100-records.jsonl
  tests/fixtures/cli_inputs/test-1000-records.jsonl
  tests/test_models.py
  tests/test_os_neural_sparse_doc_v3_gte.py
Due: black-apply, mypy, ruff-apply

Updated dependencies
  uv.lock
Due: none

Update full_record strategy
  embeddings/strategies/full_record.py
  tests/test_strategies.py
Due: black-apply, mypy, ruff-apply

Add chunk_size env var and configuration
  README.md
  embeddings/models/os_neural_sparse_doc_v3_gte.py
Due: black-apply, mypy, ruff-apply

Do not save sparse vectors for OSNeuralSparseDocV3GTE
  embeddings/embedding.py
  embeddings/models/os_neural_sparse_doc_v3_gte.py
  tests/test_os_neural_sparse_doc_v3_gte.py
Due: black-apply, mypy, ruff-apply

Update timdex-dataset-api version
  uv.lock
Due: none

Use TDA library to write embeddings to TIMDEX dataset
  embeddings/cli.py
  tests/test_cli.py
Due: black-apply, mypy, ruff-apply

Update dependencies and TDA
  uv.lock
Due: none

Align TIMDEX dataset write schema for embeddings
  embeddings/cli.py
  embeddings/embedding.py
  tests/conftest.py
  tests/test_cli.py
Due: black-apply, mypy, ruff-apply
